.Review_cart {
    border: 4px solid rgb(76, 169, 19);
    border-radius: 20px;
    width: 350px;
    height: 330px;
    margin-top: 20px;
    padding: 10px;


}

.reviews_img {
    height: 100px;
    width: 100px;
    border: 5px solid rgb(118, 239, 43);
    border-radius: 50%;

}