.btn_color {
    background-color: rgb(118, 239, 43);
    color: rgb(0, 0, 0);
    font-weight: 800;
    padding: 5px;
    border: 2px solid black;
    box-shadow: 3px 4px rgb(14, 18, 11);

}

.btn_color:hover {
    background-color: black;
    color: rgb(118, 239, 43);
    box-shadow: 3px 4px rgb(118, 239, 43);
}

.txt_color {
    color: rgb(68, 255, 12);
}

.review_text {
    border-bottom: 5px solid rgb(118, 239, 43);
    margin-left: 500px;
    margin-right: 400px;
    margin-bottom: 50px;
    padding-bottom: 20px;


}

.btn_setup {
    padding: 10px;
    padding-left: 35px;
    padding-right: 30px;
    margin-left: 600px;
    margin-right: 500px;
    border-radius: 30px;
}